<ul class="list-group">
  <li class="list-group-item" [routerLink]="['/products', 'cash']">Кашемир</li>
  <li class="list-group-item" [routerLink]="['/products', 'merino']">Меринос</li>
  <li class="list-group-item" [routerLink]="['/products', 'alpaca']">Альпака</li>
  <li class="list-group-item" [routerLink]="['/products', 'angora']">Ангора</li>
  <li class="list-group-item" [routerLink]="['/products', 'yak']">Як</li>
</ul>

<ul class="list-group">
  <li class="list-group-item" [routerLink]="['/color', 'Малиновый']">Малиновый</li>
  <li class="list-group-item" [routerLink]="['/color', 'Бежевый']">Бежевый</li>
  <li class="list-group-item" [routerLink]="['/color', 'Охра']">Охра</li>
  <li class="list-group-item" [routerLink]="['/color', 'Темно-синий']">Темно-синий</li>
</ul>

<ul class="list-group">
  <li class="list-group-item" [routerLink]="['/description', '700м']">700</li>
  <li class="list-group-item" [routerLink]="['/description', '1300м']">1300</li>
  <li class="list-group-item" [routerLink]="['/description', '1500м']">1500</li>

</ul>
<br>



<!-- <div>Состав:</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="cash" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault1">
    Кашемир
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="merino" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Меринос
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="alpaca" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Альпака
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="angora" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Ангора
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="yak" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Як
  </label>
</div>
<div>Цвет:</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Малиновый" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Малиновый
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Бежевый" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Бежевый
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Охра" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Охра
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Темно-синий" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked1">
    Темно-синий
  </label>
</div>
<br>
<div>
  <button class ="btn btn-danger" type="button">Фильтровать</button>
</div> -->
