.list-group{
  width:200px;
  margin-top: 32px;
}
li {
  cursor: pointer;
  }
.btn.btn-danger{
    background-color: #9d2774!important;
    border-color: #9d2774!important;
}

.btn:hover{
    background-color: #ce1a8f !important;
}
