// .cart-item{
//   width: 100%;
//   min-width: 800px;
//   max-width: 450px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 16px 32px;
//   margin-bottom: 8px;
//   border-radius: 2px;
//   background-color: #f4f4f4;
// }
// .cart-item1{
//   width: 100%;
//   min-width: 800px;
//   max-width: 450px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 16px 32px;
//   border-radius: 2px;
//   background-color: #e3e3e3;
// }

.table{
  text-align: center;
}
.img-little {
  width: 70px;
}
.btn{

  background-color: #9d2774!important;
  border-color: #9d2774!important;

}

.btn:hover{
  background-color: #ce1a8f !important;
}
.forma{
  flex-wrap: wrap;
}

